.map-container {
  height: 500px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}


@font-face {
  font-family: 'Aharoni';
  src: local('Aharoni'), url("./fonts/Aharoni/Aharoni-bold.ttf") format('truetype');
}

.App {
  font-family: "Aharoni";
}

.Title {
  text-align: center;
  font-size: 5em;
}

.Title-first {
  color: #118AB2;
}

.Title-second {
  color: #06D6A0;
}

.Map {
  border: solid 2px lightgrey;
  border-radius: 1%;
  margin: 1em;
}

.BottomContent {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
  font-family: "Courier New", monospace;
  font-size: 1.3em;
}
